*{
  font-family: "Playfair Display", serif;
  margin: 0px;
  padding: 0px;
}

 #main-heading{ 
  font-family: "Silkscreen", sans-serif;
} 
.simple{
  font-family: "Tac One", sans-serif;
}
@media(max-width:600px){
#back{
  display: none
}
#wh{
  display: none
}
}